

    @media screen and (max-width:700px) {
/* Navigation bar */
        .nav-bar{
            flex-direction: row-reverse;
        }
        .menu-icon {
            padding-left: 5%;
            margin:auto 0;
            display: block;
            flex: 1;
            cursor: pointer;
        }
            .icon {
                width: 30px;
                height: 4px;
                background-color: rgb(226, 220, 200, 0.8);
                margin: 4px 0;
            }
        .nav-bar-left {
            flex: 2;
            justify-content: right;
            padding-right: 10%;
        }
        .nav-bar-center {
            display: none;
        }
        .nav-bar-right {
            display: none;
        }
/* Navigation bar */

/* Home */
    .my-img, .my-img3, .my-img2, .home-div2 {
        display: none;
    }
    .my-images {
        display: flex;
        justify-content: center;
    }
        .my-images > .my-images1 {
            width: max(45vw, 200px);
            border: 2px solid rgba(226, 220, 200, 0.9);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
        }
    #home {
        display: flex;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 0, 100% 98%, 68% 94%, 39% 100%, 0 95%, 0 70%);

    }
    .home-div1 {
        display: flex;
        flex-direction: column;
        padding: 25px 5%;
    }
        .home-div1 h1 {
            padding: 25px 5%;
        }
/* Home */

/* About */
        #about {
            flex-direction: column;
            margin:50px 0 25px 0;
        }
        .about-div1 img {
            width: 80%;
        }
        .about-div2 {
            margin: 30px 0 0 10%;
        }   
        #tab1Content, #tab2Content, #tab3Content {
            width: 90%;
        }
        .CV-button p{
            margin-bottom: 50px;
        }
/* About */
/* Contact */
        .contact-div2 {
            flex-direction: column;
        }
        .contact-div2-info {
            align-items:center;
            padding: 0;
        }
        .contact-div2-message {
            justify-content: center;
            padding: 8px 0 0 0;
        }
        input[type=text]{   
            width: 250px;
        }
        textarea {
            height: 100px;
            width: 250px;
            padding: 5px;
        }
/* Contact */
    }
@media screen and (max-width:900px) {
    .project1, .project2, .project3 {
        flex-direction: column;
    }
}