* {
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(226, 220, 200);
}
/* Navigation Bar */
    .nav-bar {
        display: flex;
        position: sticky;
        top: 0;
        background-color: rgb(16, 15, 15);
        height: 60px;
        overflow: hidden;;
        z-index: 2;
    }
    .nav-bar a{
        text-decoration: none;
        font-family: 'montserrat', sans-serif;
        color: rgba(226, 220, 200, 0.8);
        letter-spacing: 1.5px;
    }
    .nav-bar-center {   
        display: flex;
        flex: 3;
        justify-content: center;
        align-items: center;
    }
        .nav-bar-center a {
            padding: 0 25px; 
            font-size: 15px;
            transition: 0.3s;
        }
        .nav-bar-center a:hover {
            transform: scale(1.1);
            color: rgba(245, 241, 228, 0.9);
        }
    .nav-bar-left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .nav-bar-left a:hover {
            font-size: 17px;
            color: rgba(226, 220, 200, 1);
        }
    .nav-bar-right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .nav-bar-right a {
            background-image: linear-gradient(rgba(60, 138, 139, 0.7), rgba(15, 61, 62, 0.7));
            padding: 7px 10px;
            border-radius: 20px;
            font-size: 15px;
        }
        .nav-bar-right a:hover {
            font-size: 16px;
            color: rgba(226, 220, 200, 0.9);
            background-image: linear-gradient(rgba(60, 138, 139, 0.9), rgba(15, 61, 62, 0.9));
        }
    .menu-icon {
        display: none;
    }
/* side nav */
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        z-index: 5;
        font-family: "Lora", sans-serif;
        letter-spacing: 1px;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
/* side nav */
/* Navigation Bar */
/* Home */  
    #home {
        display: flex;
        background-color: rgb(0, 31, 32);
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 60% 77%, 35% 97%, 0 86%);
        padding-top: 5%;
        overflow: hidden;
        min-height: 320px;
    }
    .home-div1 {
        flex: 1;
        padding-left: 5%;
        color: rgba(255, 255, 255, 0.9);  
        text-shadow: 8px 8px 6px rgb(0, 0, 0);
    }
        .home-div1 h1 {
            padding-left: 25px;
            font-size: max(2.5vw, 25px);
            border-radius: 10px;
            background-color: rgba(5, 60, 65, 0.1);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            letter-spacing: 0.1em;
            line-height: 1.5em;
        }
        .home-div1 p {
            float: right;;
            font-size: max(1.8vw, 20px);
            padding: 25px 0;
        }
        .home-div1 a {
            border-radius: 15px;
            border: 1px solid rgb(59, 73, 73);
            padding: 5px;
            text-shadow: none;
            text-decoration: none;
            background-color: rgb(226, 220, 200);
            color: rgb(16, 15, 15);
            background-image: linear-gradient(rgba(117, 152, 160, 0.7), rgba(49, 66, 66, 0.7));
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
        .home-div1 a:hover {
            background-image: linear-gradient(rgba(181, 222, 231, 0.7), rgba(91, 121, 121, 0.7));
        }
    .home-div2 {
        flex: 1;
        display: flex;
        padding-bottom: 50px;
        justify-content: center;
        align-items: center;
    }
        .home-div2 img {
            width: 40%;
            height: auto;
            visibility: hidden;
        }
    .my-images {
        display: none;
    }

    .my-img {
        width: 20%;
        position: absolute;
        top: 20%;
        right: 10%;
        z-index: 1;
        border: 2px solid rgba(226, 220, 200, 0.9);
        box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.8);
        min-width: 100px;
    }
    
    .my-img2 {
        width: 20%;
        position: absolute;
        top: 22%;
        right: 11.2%; 
        border: 2px solid rgba(226, 220, 200, 0.9);
        box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.8);
        min-width: 100px;
    }
    .my-img3 {
        width: 20%;
        position: absolute;
        top: 21%;
        right: 10.6%;
        border: 2px solid rgba(226, 220, 200, 0.9);
        box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.8);
        min-width: 100px;
    }
/* Home */

/* About */
    #about {
        display: flex;
        margin: 100px 0 50px 0;
        letter-spacing: 1.1px;
        overflow: hidden;
    }
    .about-div1 {
        display: flex;;
        flex: 1;
        justify-content: center;
    }   
        .about-div1 img {
            width: 80%;
            height: fit-content;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
        }
    .about-div2 {
        flex: 1;
    }   
        .about-div2 h1 {
            font-family: 'Lora';
            font-size: max(2.5vw, 32px);
        }
    .about-div2-innerdiv1 {
        display: flex;
        margin-bottom: 5px;
    }
    #tab1, #tab2, #tab3 {
        float: left;
        padding: 5px 10px 5px 10px;
        background: #034e53;
        color: #FFFFFF;
        margin: 0px 5px 0px 5px;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.2s;
        font-size: max(1.2vw, 16px);

    }
    #tab1:hover, #tab2:hover, #tab3:hover {
        transform: scale(1.05);
        background: rgb(3, 78, 83, 0.9);
        }
        
    #tab1Content, #tab2Content, #tab3Content {
        width: 70%;
        margin-top: 20px;
        padding: 0px 0px 0px 15px;
        border-left: 4px solid rgb(0, 0, 0, 0.5);
        color: rgb(0, 0, 0, 0.7);
        font-size: max(1.7vw, 20px);
        letter-spacing: 2px;
        text-shadow: 1px 1px 4px rgb(0, 0, 0, 0.1);
    }
    #tab1Content {
        display: block; 
    }
    #tab2Content, #tab3Content {
        display: none; 
    }
    .CV-button {
        display: flex;
        justify-content: center;

    }
    .CV-button a {
        background-color: rgba(5, 31, 34, 0.9);
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 20px;
        margin: 50px 0 75px 0;
        color: hwb(182 18% 24%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
        transition: 0.2s;
        text-decoration: none;
    }
    .CV-button a:hover {
        transform: scale(1.05);
        background-color: rgba(5, 31, 34);
    }
/* About */

/* Skills */
    #skills {
        margin: 30px 0;
        background-color: rgb(0, 0, 0, 0.9);
        padding: 30px 0;
        transform: skewY(-3deg);
        overflow: hidden;
    }
    .skills-header {
        padding: 10px 0 50px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .skills-header > p , .skills-header > h1{
        display: flex;
        justify-content: center;
        transform: skewY(3deg);
        color: #E2DCC8;
        text-shadow: 4px 4px 6px rgb(0, 0, 0);
        font-family: 'Lora';
        letter-spacing: 2px;
    }
    .skills-header > p {
        font-size: max(0.9vw, 16px)
    }
    .skills-header > h1{
        padding: 30px 0 20px 0;
        font-size: max(3vw, 30px);
    }
    .my-skills {
        transform: skewY(3deg);
        display: flex;
        justify-content: space-evenly;
    }
        .my-skills img{
            width: max(18vw, 80px);
            cursor: pointer;
            transition: 0.2s;
        }
    .myskills2 {
        margin-top: 70px;
        display: flex;
        justify-content: space-evenly;
        transform: skewY(3deg);
        padding-bottom: 50px;
    }
        .myskills2 img {
            width: max(18vw, 80px);
            cursor: pointer;
            transition: 0.2s;
        }
    .my-skills img:hover, .myskills2 img:hover {
        transform: scale(1.05);
    }
/* Skills */
/* Contact */
    #contact {
        overflow: hidden;
        margin: 50px 0;
        padding: 50px;
        background-color: rgb(0, 0, 0, 0.9); 
        background-blend-mode:darken;
    }
    .contact-div1 > h1,p{
        text-align: center;
        padding: 5px;
        color:rgb(226, 220, 200);
    }
    .contact-div1 > h1 {
        margin-bottom: 20px;
        font-size: max(2.5vw, 25px);
        font-family: 'Lora';
        letter-spacing: 1.5px;
    }
    .contact-div1 > p {
        font-size: max(1.1vw, 15px);
    }
    .contact-div2 {
        display: flex;
        margin-top: 20px;
    }
    .contact-div2-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        padding-right: 10px;
    }
    .contact-div2-message {
        display: flex;
        flex: 1;
        height: 100%;
        padding-top: 8px;
    }
    input[type=text]{   
        width: 350px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 4px;
        box-sizing: border-box;
        background-color: rgb(226, 220, 200, 0.9);
      }
    textarea {
        resize: none;
        padding: 0 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: rgb(226, 220, 200, 0.9);
        width: 350px;
        height: 158px;
    }
    .contact-div3 a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        background-color: #034e53;
        padding: 5px 10px;
    }

/* Contact */